<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545608732705-u5hsas9hfjm8sm1716p11arfes494bf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545608732705-u5hsas9hfjm8sm1716p11arfes494bf0</string>
	<key>API_KEY</key>
	<string>AIzaSyAdhm9BcBopk70qR9R2lOHvE0UU48HG2hE</string>
	<key>GCM_SENDER_ID</key>
	<string>545608732705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mjzion.Eemos</string>
	<key>PROJECT_ID</key>
	<string>eemos-b5d53</string>
	<key>STORAGE_BUCKET</key>
	<string>eemos-b5d53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545608732705:ios:7a26a3c5d2144cb9041360</string>
	<key>DATABASE_URL</key>
	<string>https://eemos-b5d53.firebaseio.com</string>
</dict>
</plist>